{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/register.css' %}">
    </head>
    <body>
        <header>
            <div class="left">
                <h1 class="logo">Startup<span>.</span></h1>
              <ul>
                <li class="active">Startups</li>
                <li>Teams</li>
                <li>About Us</li>
              </ul>
            </div>
            <div class="btns">
              <button class="btn btn-secondary">Signup</button>
              <button class="btn btn-primary">Login</button>
            </div>
          </header>
          <section id="hero">
            <div class="left">
              <h5>Finally, Many free startups are available</h5>
              <h1 class="title">Find the most Exciting Startup</h1>
              <p class="desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum cupiditate exercitationem facere voluptatum sint beatae unde.</p>
              <button class="btn btn-primary">Get Started</button>
              <button class="btn btn-secondary"><i class="fas fa-play"></i> Watch video</button>
            </div>
            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/startup-3025714-2526912.png" alt="">
          </section>
          
    </body>
</html>