{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/landing.css' %}">
    </head>
    <body>
<header>
        <div class="left">
            <h1 class="logo">Guiding Mentors<span>.</span></h1>
         
        </div>
        <div class="btns">
          <form action ="{% url 'quiz' %}" method="'post">
            {% csrf_token %}
            <button class="btn btn-primary">Give Test</button>
        </form>
          
          
        </div>
      </header>
      
          <section id="hero">
            <div class="left">
              
              <h1 class="title">Find the Career right for you</h1>

              <form action ="{% url 'register' %}" method="'post">
                  {% csrf_token %}
                  <button class="btn btn-primary">Student SignUp</button>
              </form>
              <form action ="{% url 'school-register' %}" method="'post">
                {% csrf_token %}
                <button class="btn btn-secondary"><i class="fas fa-play"></i> School SignUp</button>
            </form>

              
              
            </div>
            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/startup-3025714-2526912.png" alt="">
          </section>
          
    </body>
</html>