{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/quiz.css' %}">
        <script src="{% static '/js/quiz.js' %}" ></script>


    </head>
    <body>
        <div class="widget-wrap">
            <h1>SIMPLE JS QUIZ</h1>
            
            <!-- (A) QUIZ CONTAINER -->
            <div id="quizWrap"></div>
            
            <!-- (X) VISIT CODE-BOXX -->
            
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>